<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>Manage Category</h1>
  <button
    type="button"
    class="btn-close"
    (click)="closeCategoryModal()"
  ></button>
</div>

<div mat-dialog-content>
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="categoryForm"
    enctype="multipart/form-data"
  >
    <div class="col-md-12 mb-2">
      <label for="validationCustom01" class="form-label">Name</label>
      <input
        type="text"
        formControlName="categoryName"
        class="form-control"
        placeholder="Category Name"
      />
      <div
        *ngIf="
          categoryForm.get('categoryName').touched &&
          !categoryForm.get('categoryName').valid
        "
        class="text-danger"
      >
        <div *ngIf="categoryForm.get('categoryName').errors.required">
          Name is required
        </div>
        <div *ngIf="categoryForm.get('categoryName').errors.minlength">
          Name should be minimum 3 characters
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-2">
      <label for="validationCustom01" class="form-label">Image</label>
      <input
        type="file"
        formControlName="categoryImg"
        class="form-control"
        (change)="onUploadFile($event)"
      />
    </div>
    <div class="col-md-12 mt-3 d-grid mx-auto">
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>
</div>
