<div class="product-dialog-container">
  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Manage Product</h1>
    <button
      type="button"
      class="btn-close"
      (click)="closeProductModal()"
    ></button>
  </div>

  <div mat-dialog-content>
    <form
      (ngSubmit)="submitForm()"
      [formGroup]="productForm"
      enctype="multipart/form-data"
    >
      <div class="col-md-12 mb-2">
        <label for="validationCustom01" class="form-label"
          >Select Category</label
        >
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <select formControlName="categoryCode" class="form-select">
              <option value="">Select Category</option>
              <option
                *ngFor="let item of categoryList"
                [value]="item.categoryCode"
              >
                ({{ item.categoryCode }})
                {{ item.categoryName }}
              </option>
            </select>
            <button
              class="col-md-2 btn btn-outline-dark btn-sm mx-1"
              (click)="openCategoryDialog()"
            >
              <i class="fas fa-add me-1"></i>
              New
            </button>
          </div>
          <div
            *ngIf="
              productForm.get('categoryCode').touched &&
              !productForm.get('categoryCode').valid
            "
            class="text-danger"
          >
            <div *ngIf="productForm.get('categoryCode').errors.required">
              Please Select Category
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-2">
        <label for="validationCustom01" class="form-label">Name</label>
        <input
          type="text"
          formControlName="productName"
          class="form-control"
          placeholder="Product Name"
        />
        <div
          *ngIf="
            productForm.get('productName').touched &&
            !productForm.get('productName').valid
          "
          class="text-danger"
        >
          <div *ngIf="productForm.get('productName').errors.required">
            Name is required
          </div>
          <div *ngIf="productForm.get('productName').errors.minlength">
            Name should be minimum 3 characters
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-2">
        <label for="validationCustom01" class="form-label">Description</label>
        <textarea
          class="form-control"
          formControlName="productDescription"
          placeholder="Product Description"
          cols="30"
          rows="5"
        ></textarea>
        <div
          *ngIf="
            productForm.get('productDescription').touched &&
            !productForm.get('productDescription').valid
          "
          class="text-danger"
        >
          <div *ngIf="productForm.get('productDescription').errors.required">
            Description is required
          </div>
          <div *ngIf="productForm.get('productDescription').errors.minlength">
            Description should be minimum 10 characters
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-2">
        <label for="validationCustom01" class="form-label">Price</label>
        <input
          type="text"
          formControlName="productPrice"
          class="form-control"
          placeholder="Product Price"
        />
        <div
          *ngIf="
            productForm.get('productPrice').touched &&
            !productForm.get('productPrice').valid
          "
          class="text-danger"
        >
          <div *ngIf="productForm.get('productPrice').errors.required">
            Price is required
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-2">
        <label for="validationCustom01" class="form-label">Image</label>
        <input
          type="file"
          formControlName="productImg"
          class="form-control"
          (change)="onUploadFile($event)"
        />
      </div>
      <div class="col-md-12 mt-3 d-grid mx-auto">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
