<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Product</h1>

    <div class="card mb-4">
      <div class="card-header">
        <button class="btn btn-outline-dark" (click)="openProductDialog([])">
          <i class="fas fa-add me-1"></i>
          Add New
        </button>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>(Code) Product</th>
              <th>Description</th>
              <th>Price</th>
              <th>(Code) Category</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productItem of productList">
              <td>
                <img
                  [src]="productItem.productImg"
                  class="img-fluid img-thumbnail"
                  alt="..."
                />
              </td>
              <td>
                <strong>({{ productItem.productCode }})</strong>
                {{ productItem.productName }}
              </td>
              <td>{{ productItem.productDescription }}</td>
              <td>&#8377;{{ productItem.productPrice | currency: "":"" }}</td>
              <td>
                <div *ngFor="let catItem of categoryList">
                  <div
                    *ngIf="catItem.categoryCode === productItem.categoryCode"
                  >
                    <strong>({{ productItem.categoryCode }})</strong>
                    {{ catItem.categoryName }}
                  </div>
                </div>
              </td>
              <td>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="productItem.productFlag"
                    [checked]="productItem.productFlag"
                    (change)="
                      changeFlag(productItem._id, productItem.productFlag)
                    "
                  />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-outline-secondary mx-1"
                  (click)="openProductDialog(productItem)"
                >
                  <i class="fas fa-pencil me-1"></i>
                  Update
                </button>
                <button
                  class="btn btn-outline-danger mx-1"
                  (click)="deleteProduct(productItem._id)"
                >
                  <i class="fas fa-trash me-1"></i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
