<nav class="navbar bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#!">Live-Store</a>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        With this shop hompeage template
      </p>
    </div>
  </div>
</header>
<!-- Section-->
<section class="pb-5">
  <div class="container px-4 px-lg-5">
    <p class="hedging">Category :</p>
    <div class="d-flex mt-1 overflow-auto">
      <div class="item m-2 mx-4">
        <a (click)="allProduct()">
          <img src="./assets/all.png" width="100px" height="100px" alt="all" />
          <div class="text">
            <p class="mb-0" style="text-align: center">All Products</p>
          </div>
        </a>
      </div>
      <div class="item m-2 mx-4" *ngFor="let category of categoryData">
        <a (click)="filterProduct(category.categoryCode)">
          <img
            [src]="category.categoryImg"
            width="100px"
            height="100px"
            alt="electric"
          />
          <div class="text">
            <p class="mb-0" style="text-align: center">
              {{ category.categoryName }}
            </p>
          </div>
        </a>
      </div>
      <!--<div class="item m-2 mx-4">
        <a>
          <img
            src="./assets/fation.png"
            width="100px"
            height="100px"
            alt="fation"
          />
          <div class="text">
            <p class="mb-0" style="text-align: center">Fations</p>
          </div>
        </a>
      </div>
      <div class="item m-2 mx-4">
        <a>
          <img
            src="./assets/jwelari.png"
            width="100px"
            height="100px"
            alt="jwelari"
          />
          <div class="text">
            <p class="mb-0" style="text-align: center">Jwelarys</p>
          </div>
        </a>
      </div> -->
    </div>
    <hr />
    <p class="hedging">Products :</p>
    <div class="form-group m-4">
      <input
        type="text"
        class="form-control w-50 m-auto"
        placeholder="Search Products"
      />
    </div>
    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5" *ngFor="let product of productData">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            [src]="product.productImg"
            width="268px"
            height="180px"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.productName }}</h5>

              <p>{{ product.productDescription }}</p>
              <!-- Product price-->
              {{ product.productPrice | currency: "INR" }}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center display-flex">
              <button class="btn btn-outline-success m-2" href="#">Edit</button>
              <button class="btn btn-outline-danger m-2" href="#">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
  </div>
</footer>
