<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Category</h1>

    <div class="card mb-4">
      <div class="card-header">
        <button class="btn btn-outline-dark" (click)="openCategoryDialog([])">
          <i class="fas fa-add me-1"></i>
          Add New
        </button>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>(Code) Category</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoryItem of categoryList">
              <td>
                <img
                  [src]="categoryItem.categoryImg"
                  width="100px"
                  class="img-fluid img-thumbnail"
                  alt="..."
                />
              </td>
              <td>
                <strong>({{ categoryItem.categoryCode }}) </strong>
                {{ categoryItem.categoryName }}
              </td>
              <td>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="categoryItem.categoryFlag"
                    [checked]="categoryItem.categoryFlag"
                    (change)="changeFlag(categoryItem._id,categoryItem.categoryFlag)"
                  />
                </div>
              </td>
              <td>
                <button
                  class="btn btn-outline-secondary mx-1"
                  (click)="openCategoryDialog(categoryItem)"
                >
                  <i class="fas fa-pencil me-1"></i>
                  Update
                </button>
                <button
                  class="btn btn-outline-danger mx-1"
                  (click)="deleteCategory(categoryItem._id)"
                >
                  <i class="fas fa-trash me-1"></i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
